*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}
.back-img{
    background-image: url(images/bg-card-back.png);
    width: 286px;
    height: 157px;
    flex-grow: 0;
    /* margin: 32px 1px 51px 70px; */
    /* padding: 14.7px 0 62.5px; */
    border-radius: 6px;
    border-radius: 10px;
}
.both{
    display: flex;
    
    
}
.date{
    margin: 0 0 0 124.1px;
  font-family: SpaceGrotesk;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.29px;
  text-align: right;
  color: #fff;
}
.numbers{
    margin-left: 19px;
}
.name{
    padding-top: 17px;
    font-family: SpaceGrotesk;
  font-size: 14px;
  font-weight: 500;
  padding-left: 19px;
  letter-spacing: 1.29px;
  text-align: left;
  color: #fff;
  width: 50px;
}
.date{
    display: flex;
}
.black-color{
    width: 286px;
  height: 34.6px;
  flex-grow: 0;
  margin: 0 0 15.4px;
  background-color: #2f2f2f;
}
.gray{
    width: 231px;
  height: 29.7px;
  flex-grow: 0;
  margin: 15.4px 26.2px 0 28.8px;
  padding: 8.9px 10.8px 9.8px 200.2px;
  border-radius: 4px;
  background-color: #adb5be;
  align-items: right;
}
.front p {
    width: 239px;
  height: 23px;
  padding: 84.6px 27px 17px 0;
  font-family: SpaceGrotesk;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2.2px;
  text-align: left;
  color: #fff;
}
.front{
    background-image: url(images/bg-card-front.png);
    width: 285px;
    height: 157px;
    margin-top: -100px;
    margin-left: 20px;
    border-radius: 10px;
}
header{
    
    height: 240px;
    background-color: #21092f;

}
.back-img{
    width: 286px;
  height: 157px;
  flex-grow: 0;
  margin: 32px 1px 51px 70px;
  padding: 14.7px 0 62.5px;
  border-radius: 6px;
  background-image: linear-gradient(160deg, #fff -2%, #d2d3d9 66%);

}
.info h3{
 font-size: 12px;
  font-weight: 500;
  margin: 49px 138px 9px 24px;
  text-align: left;
  color: #21092f; 
  
}
.info input{
    width: 325px;
  height: 45px;
  margin: 0 24px 20px 24px ;
  padding: 11px 137px 11px 16px;
  border-radius: 8px;
  border: solid 1px #dfdee0;
  background-color: #fff;
  font-size: 18px;
}
.card-number h3{
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 24px;
    text-align: left;
    color: hsl(278, 68%, 11%);
}
.card-number input{
    width: 325px;
    height:45px;
    margin: 9px 24px 20px 24px ;
    padding: 11px 137px 11px 16px;
    border-radius: 8px;
    border: solid 1px #dfdee0;
    background-color: #fff;
    font-size: 18px;
}
.date-flex{
    display: flex;
}
.month input{
    width: 72px;
    height: 45px;
    font-size: 18px;
    text-align: left;
    color: #21092f;
}
.year input{
    width: 72px;
    height: 45px;
    font-size: 18px;
    text-align: left;
    color: #21092f;
    
}
.year{
    margin-left: 8px;
}
.cvc input{
    width: 164px;
    height: 45px;
    font-size: 18px;
    text-align: left;
    color: #21092f;
}
.cvc{
    margin-left: 11px;
}
.date-flex{
    margin-left: 24px;
}

.cvc p{
    font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
  color: #21092f;
}
.year p{
    font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
  color: #21092f;
}
.month p{
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: left;
    color: #21092f;
}
.confirm-button button{
    width: 327px;
  height: 53px;
  margin: 28px 0 0;
 
  border-radius: 8px;
  background-color: #21092f;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.confirm-button{
    display: flex;
    justify-content: center;
    align-items: center;
}